/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
    background: $background-primary;
  }
  .background-secondary {
    background: $light-brown;
  }
  .background-tertiary {
    background: $green;
  }
  .background-quaternary {
    background: $brown;
  }
  .background-quinary {
    background: $tan;
  }