/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*='col-'] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }

  /* Column Half */
  .col-1-2 {
    width: 50%;
}
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
}

@media only screen and (max-width : 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************
****************************
Modules
****************************
***************************/

/*Header Modules*/
.header-primary {
  background: #9B8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/*Logo Modules*/
.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%;
}

/*Navigation Modules*/
.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-primary {
  margin-top: 35px;
  display: none;
}

@media (min-width: 48em) {
  .nav-primary {
    display: block;
  }
}

/*Button Modules*/
.btn {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8DC63F;
  border-color: #8DC63F;
  color: white;
}

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}

.btn-nav {
  color: white;
}

.btn-toggle-menu {
  position: absolute;
  top: 15px;
  right: 15px;
}

.btn-hero {
  padding: 15px 30px;
  height: 60px;
  font-size: 1.750em;
  background-color: unset;
  border-color: #ffffff;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-hero:hover {
  color: #39b54a;
  background-color: #ffffff;
}

.btn-media {
  margin-top: 40px;
  flex-grow: initial;
  align-self: flex-start;
}

@media (min-width: 48em) {
  .btn-nav {
    padding: 10px 15px;
    height: 40px;
    font-size: 1.125em
  }

  .btn-toggle-menu {
    display: none;
  }
}

/*Hero Modules*/
.hero {
  text-align: center;
}
.hero-primary {
  background-color: #594a42;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero-secondary {
  background-color: rgb(104, 104, 104);
  color: white;
  padding: 40px 0;
  height: 460px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 48em) {
  .hero-secondary {
    padding: 60px 0;
    height: 400px;
  }
}

.hero-body {
  position: relative;
}

.hero-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2.625em;
}
.hero-subtitle {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.500em;
  font-weight: normal;
}

.hero-subtitle + button {
  margin-top: 25px;
}

/*Background Modules*/
.bg-image  {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
  opacity: 0.55;
}

/*Media Object Module*/
.media-section {
  height: 696px;
  padding: 40px 0;
}

.media {
  padding: 40px 0;
  margin-top: -40px;
}

.media, .media-body {
  overflow: hidden;
}

.media-item {
  float: left;
  margin-right: 10px;
  font-size: 200%;
  width: 200px;
}

@media (min-width: 48em) {
  .media-item {
    display: flex;
    justify-content: center;
  }
}

.media-item i {
  color: #594a42;
  font-size: 5em;
}

.media-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.media-heading {
  font-size: 28px;
  margin: 0;
}

.media-text p {
  margin: 0;
  font-size: 20px;
}

/* Testimonial Module*/
.testimonial-stars {
  font-size: 80px;
  text-shadow: 0 0 10.5px rgba(0, 0, 0, 0.75);
}

.testimonial-text {
  margin: 50px auto 0;
  font-style: italic;
  font-size: 32px;
}

.testimonial-text span {
  font-style: normal;
  font-weight: bold;
}

@media (min-width: 48em) {
  .testimonial-stars {
    font-size: 96px;
  }

  .testimonial-text {
    margin: 60px auto 0;
  }
}

/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}
.background-quinary {
  background: #e7e1d7;
}